body {
	
	color: #ffffff;
	font-family: Product Sans;
	background: rgba(0, 0,0,.8);
}


h1{
	padding-top: 2px;
	color: #ffffff;
	text-align: center;
	text-decoration: underline;
	font-family: "JetBrains Mono";
	font-style: italic;
}	


#welcome_text{
	text-align: center;
}

#page_content{
	border: 2px solid red;
	border-left-color: rgb(32,5 ,43);
	border-right-color: rgb(32,5 ,43);

}

#github_link {
	text-align: right;
	display: block;
	margin-bottom: 0; 
	text-decoration-style: solid;
}

#footer {
	text-align: center;
	font-style: italic;
}